header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: solid 1px black;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
  border: solid 1px black;

}

.logo img {
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.content {
  display: flex;
  border: solid 1px black;
  justify-content: space-around;
}

.section .large {
  width: 630px;
}

.large {
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  align-content: center;
  padding-top: 40px;
  width: 630px;

}

.large span {
  border: solid 1px black;
  display: block;
}

.large .articles {
  border: solid 3px black;
}

.section.medium {
  width: 300px;
}

.medium {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  align-content: center;
  padding-top: 40px;
  width: 300px;
}

.medium span {
  display: block;
  border: solid 1px black;
}

.section.small {
  width: 300px;
}

.small {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 300px;
}

.section.small {
  width: 240px;
}

.story6 {
  border: solid 1px black;
  display: block;
}

img {
  border: solid 1px black;
}
