header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: solid 1px black;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;

}

.logo img {
  margin-right: 12px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

span {
  text-decoration: underline;
}
