body {
  display: block;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: solid 1px black;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
  border: solid 1px black;
}

.logo span {
  display: flex;
}

.logo img {
  display: flex;
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.content {
  display: flex;
  border: solid 1px black;
  justify-content: space-around;
  padding-top: 20px;
  flex: 1;
}

.large {
  display: flex;
  border: solid 1px black;
  flex-direction: column;
  align-content: center;
  padding-top: 40px;
  width: 630px;
}

.large span {
  border: solid 1px black;
  display: block;
}

.large .articles {
  border: solid 3px black;
}

.mainstory {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainstory .image1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;

}

.image1 {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  width: 100%;
  text-align: left;
}

.report {
  display: flex;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.medium {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  align-content: center;
  width: 300px;
  justify-content: flex-start;
}

.medium span {
  display: block;
  border: solid 1px black;
}

.medium .story4 {
  display: block;
  align-content: flex-start;
  flex-direction: column;

}

.small {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 240px;
  justify-content: flex-start;
}


.story6 {
  border: solid 1px black;
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.story6 span {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h3 {
  display: block;
  text-align: left;
}

.cookiebite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 1px black;
}



.bite {
  text-align: center;
}

.cookie {
  border: solid 1px black;
  height: 240px;
  justify-content: flex-start;
}

.title {
  display: flex;
}
